body{
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.container{
	max-width: none;
	margin: 0 auto;
	background: linear-gradient(90deg, rgb(92, 194, 224) 0%, rgb(126, 212, 228) 60%);
	/*background-color: #206dd1;*/
	height: 100vh;
}

a{
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-evenly;
	color: #0e0e0d;
	background: linear-gradient(90deg, rgb(43, 211, 233) 0%, rgb(249, 253, 253) 100%);
	padding: 2em 0;
	align-items: center;
	font-style: italic;
	font-weight: bold;
}
#search-area{
	display: flex;
	justify-content: space-evenly;
	color: #dceb15;
	background: linear-gradient(90deg, rgb(43, 211, 233) 0%, rgb(249, 253, 253) 200%);
	
	align-items: left;

}

h1{
	font-size: 64px;
	margin-top: 0%;
	margin-bottom: 0%;
}

.contact-search{
	font-size: 1.2em;
	padding:.3em .3em;
	border-radius: 100px;
	border:1px solid rgb(248, 247, 247);
	outline: none;
	
}


.contacts-library{
	background: linear-gradient(90deg, rgb(8, 234, 241) 0%, rgb(242, 242, 245) 60%);
}

.add{
	color: #fff;
	font-size: 1.5em;
}

i{
	color: #fff;
	font-size: 1.5em;
}

.contact-name{
	color: #fff;
	font-size: 1.2em;
}


ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

hr{
	border: 1px solicontactd #494a4b;
}

.list__item{
	list-style: none;
	text-transform: lowercase;
}


.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
}

.contact-section:hover{
	background-color: #48494a;
}

.text{
	padding-left: 1em;
}
#footer{
		
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: #184a45;
	color: #f2f6f7;
	text-align: center;
}
img{
	visibility: visible;
	transform: translateY(0) scale(1);
	opacity: 1; 
	-webkit-transform: translateY(0) scale(1); 
	opacity: 1; 
	-webkit-transition: -webkit-transform 0.8s ease 0.3s, opacity 0.8s ease 0.3s; 
	transition: transform 0.8s ease 0.3s, opacity 0.8s ease 0.3s;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}

