{%  load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

	<title> CIty of Mutare SwitchBoad </title>
</head>
<body>
	

	<div class="container">

		<!--this id the added coontent -->
		<header class="header">
			<h1> 
				City of Mutare Switchboard </h1>	
					</header>
					<hr>
			
					<!--end of added content-->

		<!--  SEARCH FORM -->
		<header id="search-area">
			
			<form action="/" method="GET" class="search-bar" id='search-form'>

				<input type="search-name" class="contact-search" name="search-area" placeholder="type Name or Department"
					value={{search_input}}>

				<i onclick="document.getElementById('search-form').submit();" style="padding-left: 5px;"
					class="fas fa-search"></i>

			</form>

			<!--  ADD-CONTACT BUTTON/ICON -->
			<a href="{% url 'add-contact' %}"><i class="fas fa-plus-circle add"></i></a>
		</header>
<hr>

		<!--  CONTACT LIST -->
		<section class="contacts-library">
			<ul class="contacts-list">
			{% for contact in contacts %}
				
				<a href="{% url 'profile' contact.id %}" style= "text-decoration: none" >
					<div class="contact-section">
						<li class="list__item">
							<p class="contact-name"> {{ contact.full_name | title }} </p>
							<p style="color: white;" class="land_number"> {{ contact.land_number | title }} </p>
				
					</div>
				</a>

				<hr>
				{% empty %}
				<h3 style="color:#fff; padding:20px" > No contacts found...
				<br><br>  Try searching using the department or name of person </h3>
			{% endfor %}
			</ul>
			</section>
			</div>



<div class="fixed-bottom" id="footer">

<div class="coca" style="padding-top: 15px;font-style:cambria ; font-size: 18px; font-weight: bold;">
<p>Copyright City of Mutare ICT © 2023. All Rights Reserved.</p>
</div>
</div>



</body>
</html>
