{%  load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

        <title>City Of Mutare</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="DOCS/Styles.css" rel="stylesheet" type="text/css" />        
    <head/>
<body>
<section class="header">


		<img src="{% static 'images/mutarelogo.png' %}" alt="logo" width="150" height="150" >
        
        </a>
<h1>  CITY OF MUTARE   </h1>
</section>

<div class="row">
    <div class="column" >
        <h2>Contact Details</h2>
        Civic Centre,No 1 Queens Way,P.O.BOX 910 ,Mutare
        <br>General Line:+263 2020 64412
        <br>Hotline:+263 2020 60551         
        <br>Fax:+263 020 6100233
        <br>Cell:+263775792461
		<br > 

        
        </p>
    </div>
<div class="column2">
    <h2>Online Contact Details
        
    </h2>
    <p><a href="https://www.facebook.com/MutareCityCouncil/" target="_blank" class="fa fa-facebook"> &nbsp The City Of Mutare</a></br>
    <a href="mailto:kimiskra@gmail.com" class="fa fa-envelope" target="_blank" > &nbsp kimiskra@gmail.com</a></br>
    <a href="https://www.twitter.com/CityofMutare" target="_blank" class="fa fa-twitter"> &nbsp @City Of Mutare </a></br>    
    <a href="https://www.mutarecity.co.zw/" target="_blank" class="fa fa-google"> &nbsp www.mutarecity.co.zw</a> </br>
    <a href="https://wa.me/+263775792461" target="_blank" class="fa fa-whatsapp"> &nbsp click here to Whatsapp us</a></br>

<br>
    </p>
</div>
<h1> <a href="{% url 'home' %}">
    <button class="button">Go to Contact List</button> </h1>


</div>





<div class="fixed-bottom" id="footer">

    <div class="coca" style="padding-top: 15px;font-style:cambria ; font-size: 18px; font-weight: bold;">
    <p>Copyright © 2023 City of Mutare. Developed by E Mups & T Charekwa .
    </p>
    </div>
    </div>





    </body>
</html>